.condition-label {
    display: inline-block;
    padding: 10px;
    width: 100px;
}

.blink-checkbox { 
    display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 10px;
}
.night-light-hint {
    padding-top: 5px;
    display: block;
    color:rgb(0,0,0,.54);
    font-size: 75%
}

.configurable-option {
    width: 40%;
    padding-top: 15px;
}

section { 
    padding-left: 50px;
}